body {
  font-family: sans-serif;
  text-align: center;
  background-color:#d0bcb8;
  background-image: radial-gradient(white 10%, #d0bcb8 90%);
  color: black;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: #d0bcb8;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  background-color: #d0bcb8;
  color: white;
}

ul {
  list-style-type: none;
}
.circular-image {
  border-radius: 50%;
}

 
