body {
  font-family: sans-serif;
  text-align: center;
  background-color: radial-gradient(white, #d0bcb8 , black);
  color: black;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  color: #1da1f2;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.button:hover {
  background-color: #1DA1F2;
  color: white;
}

ul {
  list-style-type: none;
}


 
